@import "header.scss";
@import "main.scss";
@import "todo.scss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.active{
    background-color: #f3e7e4 !important;
    font-weight: bold;
}

.hidden{
    display: none;
}